

mark {
  background-color: #ffff88;
  color: black;
}

h-l {
  color: crimson;
  font-weight: bold;
}


@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

pre, code {
  font-family: "Fira Code", "Monaco", monospace !important;
}


<script src="https://kit.fontawesome.com/5d636b0c66.js" crossorigin="anonymous"></script>

/* Center the contents of the iframe */
div.iframe-container {
  text-align: center;
}

/* Remove the iframe border */
iframe.d3-figure {
  border: none;
  display: block;
  margin: 0 auto;
}

/* Hide slide number on title slide */
.title-slide .remark-slide-number {
  display: none;
}